@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,300&family=Source+Sans+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text {
  width: 50%;
  margin-left: 6rem;
  font-family: "Jost", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2em;
}

.content {
  margin-right: 6rem;
  position: relative;
  left: 5%;
  text-align: center;
}

.crowdVid {
    margin-top: 4rem;
    flex-direction: row;
  }

  container {
    display: flex;
    position: relative;
    top: 10vh;
  }

  #button{
    position: absolute;
    left: 50%;
    top: 75%;
  }